<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'Gossips/gossip_layout.html'%}

    {% block contentA%}
    <div class="container-sm">
        <h1 class="display-4 fst-italic">Day One at Harvoxx Tech Hub</h1>
        <p class="">My first day at Harvoxx tech had a great meaning to me. It was the beginning
        of my dream to master the frontend tech stack. My first day at Harvoxx was on January 3rd, 2024.
          That day I had so many things on my mind, from what i was going to wear to figuring out where
          the class and the floor number will be located.</p>
        <p>Since my Journey into Tech, I have never taken a class like this. There method of teaching
        was entirely different to what I'm used to. I came to acknowledge the reason why they insisted
        that everybody must not only own a laptop but must also come to class with it. This made the class
        to be completely a hands on training which I believe would help me in the future</p>
        <p>To prepare for the Training, Harvoxx made sure that the hub will be conducive for learning.
        There was steady power, air conditioners and ceiling fans cooling the classroom and a projector
        that the Instructor Mr Emmanuel used to teach us. My First class lasted for 3 hours 30 minutes.
        The seats at the hub was arranged sequentially so that no student gets left out.</p>
        <p>When I got to the Learning hub, I was nervous and excited. At the hub, I got to meet the program
        Administrator popularly known as "Content Kwin". She was so lively, impressionable and very professional
        . She took our attendance at the entrance before welcoming us into the learning center. There she made us
        understand what it means to be a new bee in tech and how we can take advantage of this program
            to elevate our tech carrier and take it to the next level. Among the advice that she gave us, one
        stood out. She advised us not to be too interested in money during this time rather that we should
        work on building our portfolio and online presence first, after that we can now charge as much as we
        want for our services.</p>
        <p>The Instructor Mr Emmanuel, welcomed us into the class. The first he did was to make us introduce
        ourselves. I got to know most of my tech mates by there names. Overall the class was lively and fun.
        We learnt about html tags, file extensions and the browser. Our Instructor made sure that everyone
        understand each term before moving on to the next topic. I fell in love with his teaching and am already
        looking forward to my second day in class. To end the class, he gave us assignment on the html tags we
        just learnt.</p>
        <p>At the hub, I sat at the first row together with a passionate guy Eric and Deborah. We chatted after
        the class about our expectations and aspirations in life. We went back using the same tricycle. It was a
        lovely moment. I can't wait to meet them again. That was how my first day at Harvoxx Tech Hub went.
            I'm looking to the next day.</p>

    </div>
    
    {% endblock contentA%}

</body>
</html>